<div class="dashboard-top col-md-11 mx-auto p-3 mb-4 d-flex justify-content-between" style="background-color: rgba(0, 0, 0, 0.2);">
   <h6>HOME</h6>  
</div>

<div class="container">
  <h2>Assignment statement:</h2>
  <p>We need to design a system allowing verified users to upload sensitive data in the form of large files. To this end, we'd want to do the flilowing:</p>
  <ol>
    <li>As a user, I should be able to login on the platform using email address and password.</li>
    <li>As a logged-in user, I should be able to see a list of all the files that I have uploaded. This list should be private and not visible to other users on the platform or to external parties.</li>
    <li>As a logged-in user, I should be able to delete an already uploaded file.</li>
    <li>As a logged-in user, I should be able to upload a new file while specifying some additional info such as a title, description, etc. Once uploaded, the platform should figure out the file type and optionally compress it for storage. The file size could be anything upto 1GB.</li>
    <li>As a logged-in user, I should be able to share one of my files publicly using a tiny URL obtained from the system.</li>
  </ol>         
 </div>