<div class="dashboard-top col-md-11 mx-auto p-3 mb-4 d-flex justify-content-between" style="background-color: rgba(0, 0, 0, 0.2);">
   <h6>DASHBOARD</h6>
   <h6>HOME / DASHBOARD</h6>   
</div>
<div class="d-flex justify-content-between col-md-11 mx-auto mb-5">
<div class="b-cards col-md-6 p-3" style="background-color: rgba(0, 0, 0, 0.2);">
   <h6>4GB</h6>
   <h6>USAGE</h6>   
</div>
<div class="b-cards col-md-6 mx-auto p-3" style="background-color: rgba(0, 0, 0, 0.2);">
   <h6>6GB</h6>
   <h6>FREE SPACE</h6>   
</div>
</div>
<div class="container">
  <h2>Hover Rows</h2>
  <p>The .table-hover class enables a hover state on table rows:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>